<p id="title">New York Times Scraper</p><br><br>


{{!-- <header>
   <div class="headerBox">
   </div>
</header> --}}

<button id="scrape">Scrape Articles</button><br><br>


<div id="articleBox">
   <div>
{{#each articles}}
  <p>{{@index}}. <b>{{this.title}}</b> {{this._id}}</p>
   <button class="save{{this._id}}" id="saveArticle">Save This Article</button>
  {{!-- <a href="/articles/saveArticle/{{this._id}}">Save This Article</a><br><br><br> --}}
  <button class="commentOn{{this._id}}" id="commentOn">Comment</button>
  <button class="readComments{{this._id}}" id="readComments">ReadComments</button><br><br>
{{/each}}
</div>

<div id="saveModal" class="modal">
   <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modavel-body">
         <h2 id="titlePopUp">{{this.title}}</h2>
         <h2 id="hrefPopUp" href={{this.href}}>{{this.href}}</h2> 
         <h2 id="saved">Article Saved!</h2>
      </div>
   </div>
</div>

<div id="commentModal" class="modal">
   <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modavel-body">
         <h2 id="titlePopUp">{{this.title}}</h2>
         <h2 id="hrefPopUp" href={{this.href}}>{{this.href}}</h2> 
         <h2 id="saved">Leave Comment</h2>
         <input type="text" id="commentText"></input>
         <button class="submit">Submit</button>
      </div>
   </div>
</div>

<div id="readCommentsModal" class="modal">
   <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modavel-body">
         <h3 id="commentPopUp">{{this.comment}}</h3>
         
      </div>
   </div>
</div>

   
</div>

<script>

$("#scrape").on("click",function(event){
   event.preventDefault();
 
   $.ajax({
      url: "/articles/scrape",
      method: "GET"
   }).then(function (data){
      console.log(data);
     
   });
});



$("#saveArticle").on("click", function(event) {
   event.preventDefault();
   
   $.ajax({
      url: "/articles/saveArticle/:id",
      method: "POST",
      data: {
         title:  title.id, 
         summary: summary.id,    
         href: href.id
      }
   }).then(function(){
      $("#saveModal").show();
   });

   $("span").on("click", function(event){
      $("#saveModal").hide();
   });
});



$("#commentOn").on("click", function(event){
   event.preventDefault();
   
   $("#commentModal").show();

   $(".submit").on("click", function(event){
      var newComment = $("#commentText").val();

      $.ajax({
         url: "/articles/saveComment/:id",
         method: "POST",
         data: {
            comment: newComment
         }
      }).then(function(){
         ///
         
      })
   })
   
   $("span").on("click", function(event){
         $("#commentModal").hide();
   });
});

$("#readComments").on("click", function(event){
   $("#readCommentsModal").show();

   $.ajax({
      url: "/articles/readComment/:id",
      method: "GET",
      data: {
         comment: comment.id
      }
   }).then(function(data){
      //display comments to window
   })
   
   $("span").on("click", function(event){
         $("#readCommentsModal").hide();
   });
});
   
</script>
